{% extends "base.html" %}
{% load urlify %}
<title>{% block head_title %}{{instance.title}} | {{block.super}}{% endblock head_title%}</title>

{% block content %}
<div class = 'col-sm-12'>
    {% if instance.image %}
	<img src = '{{instance.image.url}}' class='img-responsive center-block'></img>
	{% endif %}
	<h1>{{ title }} </h1>
	{{instance.content|linebreaks}} </br>
	
	<p>
	{% if request.user.is_staff or request.user.is_superuser %}
	<a style = "margin-right:2px;" href="{{instance.get_absolute_url}}/delete" class="pull-right btn btn-primary" role="button">Delete</a>
	<a style = "margin-right:2px;" href="{{instance.get_absolute_url}}/edit" class="pull-right btn btn-primary" role="button">Edit</a>
	{% endif %}
    </p>
</div>
{% endblock content %}