{% extends "base.html" %}
{% load urlify %}
<title>{% block head_title %}{{instance.title}} | {{block.super}}{% endblock head_title%}</title>

{% block content %}
{% if request.user.is_staff or request.user.is_superuser %}
<div class="create-btn" style = "border-radius:0px;">
	<a href = "{{SITE_URL}}/posts/create"><h3 style = "text-align: center;">Create new post</h3></a>
</div>
{% endif %}
<div class = 'col-sm-12'>
    {% if instance.image %}
	<img src = '{{instance.image.url}}' class='img-responsive center-block'></img>
	{% endif %}
	<div class="page-header">
	<h1>{{ title }} <small>{{instance.timestamp}}</small></h1>
	</div>
	<div style = "word-wrap:break-word;">
	{{instance.content|linebreaks}} </br>
	</div>
	<div>
	{% if instance.tag_list != "" and instance.tag_list != ' ' %}
		<i class = "fa fa-tags"></i>
		{% for tag in instance.get_tags %}
				{% if tag != "" and tag != ' '%}
					<a href = "{{SITE_URL}}/posts/search/{{tag}}"><span> #{{tag}} </span></a>
				{% endif %}
			{% endfor %}
			
		{% endif %}
	<p style = "font-weight:bold;">
	{% if instance.user.get_full_name %}
	<i class = "fa fa-user"></i>
			 {{instance.user.get_full_name}}
	{% else %}
	<i class = "fa fa-user"></i>
			{{instance.user}}
	{% endif %}
	</br>
	<!--{{instance.likes}} Likes</p>-->
	</div>
	<div style = "border-top:1px solid #ddd; margin-left:-5px; margin-right:-5px;"></div>
	<div style = "width:100%; padding:9px; padding-bottom:0px;display:inline-block;">
	{% if request.user.is_authenticated%}
	<a href="{{instance.get_absolute_url}}/comment" class = "pull-left post-btn" role="button"><i class = "fa fa-comment-o fa-2x"></i></span></a>
	{% endif %}
	<div style = "margin-right:2px; display:inline-block;" class = "pull-left post-btn dropup">
  <li style = "list-style:none;" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <a href = "#" style = "text-decoration:none;"class = "push-left fa fa-share fa-2x"></a>
  </li>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <li><a style = "margin-right:2px;" class ="pull-left post-btn" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" role="button">
		Share on <i class = "fa fa-facebook fa-2x"></i></a>	 
	</li>
    <li><a style = "margin-right:2px;" class ="pull-left post-btn" href="https://twitter.com/home?status={{instance.content|truncatechars:80|urlify}}%20{{ request.buitd_absolute_uri }}/"  role="button">
		Share on <i class = "fa fa-twitter fa-2x"></i></a>	
    </li>
  </ul>
</div>
	{% if request.user.is_staff or request.user.is_superuser %}
	<a style = "margin-right:2px;" class = "pull-right post-btn" href="{{instance.get_absolute_url}}/delete" role="button"><i style = " margin:-3px;" class = "fa fa-trash-o fa-2x"></i></a>
	<a href="{{instance.get_absolute_url}}/edit" class = "pull-right post-btn" role="button"><i class = "fa fa-pencil-square-o fa-2x"></i></span></a>
	{% endif %}
	</div>
	<div>
	<div>
	<h2 class = "page-header" style = "display:block;float:left;width:100%;">Comments</h2>
	</div>
	{% for comment in instance.comment_set.all%}
		<div class = "thumbnail" style = "padding:10px; padding-top:0px;padding-bottom:0px;display:block;float:left;width:100%;">
			<div style = "display:block; text-align:left; vertical-align:top;">
				
				<div style = "display:inline-block; text-align:left; vertical-align:middle; width:100%;">
					{% if comment.user.avatar%}
					<div style = "display:inline-block; float:left; vertical-align:middle; padding-top:5px;margin-right:5px;"><img style = "height:30px; width:auto;"src = "{{comment.user.avatar.url}}"></img></div>
				{% endif %}
				<h4 class = "user-name" style = "float:left;">
					{{comment.user}} <small>{{comment.timestamp|timesince}}</small>
					</h4>
					{% if comment.user == request.user or request.user.is_staff or request.user.is_superuser %}
					<!--<div style = "height:auto; padding-top:7px; width:auto;">-->
					<a style = "margin-top:7px;" href="{{SITE_URL}}/posts/comment/{{instance.slug}}/{{comment.id}}/delete" class = "pull-right post-btn"role="button"><i style = "vertical-align:top; margin:-3px;" class = "fa fa-trash-o fa-2x"></i></span></a>
					<a style = "margin-top:7px;" href="{{SITE_URL}}/posts/comment/{{instance.slug}}/{{comment.id}}/edit" class = "pull-right post-btn" role="button"><i class = "fa fa-pencil-square-o fa-2x"></i></span></a>
					<!--</div>-->
					{% endif %}
				</div>
			</div>
			<div style = "margin:5px -10px; margin-top:0px; vertical-align:bottom; border-top:1px solid #ddd; padding-left:5px;padding-right:5px; padding-top:2px;"></div>
			<div style = "word-wrap:break-word;vertical-align:bottom; padding-left:5px;padding-right:5px; padding-top:2px;">
			{{comment.content|linebreaks}}
			
			<!--{{comment.likes}} Likes-->
			</div>
		
		</div>
		
	{% endfor %}
	</div>
	
	
</div>
{% endblock content %}